body
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.iphone iframe {
    opacity: 0.9;
    width: 390px;
    height: 844px;
    border-radius: 20px; /* Adjust the value to control the roundness */
    border: 2px solid ; /* Add a border with a color of your choice */

}

.iphone iframe::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('smudges.jpeg'); /* Replace 'path/to/your/overlay-image.jpg' with the actual path to your overlay image */
    opacity: .5; /* Adjust the opacity as needed */
    border-radius: 20px; /* Match the border-radius of the iframe */
    z-index: 2; /* Ensure the overlay is above the iframe */
}

